HF_TOKEN=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
HF_DATASET_REPO=Pjzno/localization
GITHUB_TOKEN=github_fine_grained_token
GITHUB_OWNER=fuckdcma
GITHUB_REPO=WEB-LOCALIZATION
GITHUB_WORKFLOW_FILE=translate.yml
GITHUB_BRANCH=main
GEMINI_API_KEY=google_ai_studio_api_key
